*.DS_Store

./**/.cache
./**/.metadata
./**/includes
**/includes

./q100/includes
/q100/includes
q100/includes
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/q100_abm.iml
.idea/vcs.xml
